<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment4</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/scripts/timeline.js"></script>
    <link rel="stylesheet" href="/styles/style.css" />
    <style>
      .history {
        margin: 3px 3px;
        padding: 1.5rem 0.5rem;
        background-color: rgb(253, 253, 166);
        border: rgb(128, 209, 187) 1px solid;
        border-radius: 1rem;
        box-shadow: 0 1.6px 1.6px rgba(0, 0, 0, 0.023),
          0 3.8px 3.8px rgba(0, 0, 0, 0.034), 0 6.9px 6.9px rgba(0, 0, 0, 0.041),
          0 11.4px 11.4px rgba(0, 0, 0, 0.049),
          0 18.8px 18.8px rgba(0, 0, 0, 0.056),
          0 32.8px 32.8px rgba(0, 0, 0, 0.067), 0 71px 71px rgba(0, 0, 0, 0.09);
      }
      main {
        display: grid;
        grid-template-columns: auto auto auto;
      }
      .user-info {
        margin: 3px 3px;
        padding: 1.5rem 0.5rem;
        background-color: rgb(243, 240, 240);
        border: rgb(128, 209, 187) 1px solid;
        border-radius: 1rem;
        box-shadow: 0 1.6px 1.6px rgba(0, 0, 0, 0.023),
          0 3.8px 3.8px rgba(0, 0, 0, 0.034), 0 6.9px 6.9px rgba(0, 0, 0, 0.041),
          0 11.4px 11.4px rgba(0, 0, 0, 0.049),
          0 18.8px 18.8px rgba(0, 0, 0, 0.056),
          0 32.8px 32.8px rgba(0, 0, 0, 0.067), 0 71px 71px rgba(0, 0, 0, 0.09);
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
      }
      .prev-order {
        margin: 3px 3px;
        padding: 1.5rem 0.5rem;
        background-color: rgb(254, 229, 229);
        border: rgb(128, 209, 187) 1px solid;
        border-radius: 1rem;
        box-shadow: 0 1.6px 1.6px rgba(0, 0, 0, 0.023),
          0 3.8px 3.8px rgba(0, 0, 0, 0.034), 0 6.9px 6.9px rgba(0, 0, 0, 0.041),
          0 11.4px 11.4px rgba(0, 0, 0, 0.049),
          0 18.8px 18.8px rgba(0, 0, 0, 0.056),
          0 32.8px 32.8px rgba(0, 0, 0, 0.067), 0 71px 71px rgba(0, 0, 0, 0.09);
      }
      .prev-order li{
        list-style-type: decimal;
      }
    </style>
  </head>

  <body>
    <header>
      <img src="/banner.jpeg" height="40%" alt="banner" />
    </header>
    <nav>
      <a href="/home" id="Homepage"> Home </a>
      <a href="/search" id="Searchpage"> Search </a>
      <a href="/timeline" id="Historypage"> Account </a>
      <a href="/shoppingcart"> Cart </a>
      <a href="/game"> Game </a>
    </nav>

    <main>
      <div class="user-info">
        <div>
          <p>Your Profile:</p>
        </div>

        <div>
          <p>Name: <%=details.firstname %></p>
        </div>
        <div>
          <p>email: <%=details.email %></p>
        </div>

        <form action="/dashboard" method="GET">
          <button>Dashboard</button>
        </form>

        <form action="/edit/<%=details.email %>" method="GET">
          <button>Edit</button>
        </form>

        <form action="/logout" method="POST">
          <button>Logout</button>
        </form>
      </div>

      <div class="historys">
        <% if (allEvents.length === 0) { %>
        <p>No Activity yet!</p>
        <% } %> <% allEvents.forEach(event => { %>
        <div class="history">
          <p>Search Event - <span><%=event.text %></span></p>
          <p>Time - <span><%=event.time %></span></p>
          <button class="DeleteButton" id="<%=event._id %>">Delete</button>
        </div>
        <% }) %>
      </div>

      <div class="prev-order">
        <div>
          <p>Previous Orders</p>
        </div>
        <% if (allOrders.length === 0) { %>
        <p>No Orders yet!</p>

        <div>
        <ol>
          <% } %> <% allOrders.forEach(order => { %>
          <li>
            <a href="/order/<%=order._id %>">
              <button class="orderButton" id="<%=order._id %>">Order</button>
            </a>
          </li>
          <br>
          <% }) %>
        </ol>
      </div>
    </main>
  </body>

  <footer>
    <h5>Copyright © Kai Oh 2022</h5>
  </footer>
</html>